<div class="d-flex justify-content-between align-items-center mb-3">
  <h3>Contrats</h3>
  <div>
    <a class="btn btn-sm btn-primary me-2" routerLink="/contrats/automobile/new">New Auto</a>
    <a class="btn btn-sm btn-primary me-2" routerLink="/contrats/habitation/new">New Habitation</a>
    <a class="btn btn-sm btn-primary" routerLink="/contrats/sante/new">Nouveau Santé</a>
  </div>
</div>
<table class="table table-bordered">
  <thead><tr><th>ID</th><th>Type</th><th>Client</th><th>Status</th><th>Contribution</th><th>Actions</th></tr></thead>
  <tbody>
  <tr *ngFor="let c of contrats">
    <td>{{ c.id }}</td><td>{{ c.type }}</td><td>{{ c.clientId }}</td><td>{{ c.statut }}</td><td>{{ c.montantCotisation }}</td>
    <td>
      <a class="btn btn-sm btn-info me-2" [routerLink]="['/contrats', c.id]">Details</a>
      <button class="btn btn-sm btn-success me-2" (click)="valider(c.id)">Validate</button>
      <button class="btn btn-sm btn-danger" (click)="resilier(c.id)">Terminate</button>
    </td>
  </tr>
  </tbody>
</table>